/* Sass */
/* Body */
/* line 7, ../sass/_layout.scss */
#outline {
  position: relative;
  margin: 18px auto 0;
  width: 800px;
  height: 800px; }

/* line 14, ../sass/_layout.scss */
#caption {
  position: absolute;
  top: 318px;
  left: 48px;
  visibility: visible;
  width: 260px; }

/* line 22, ../sass/_layout.scss */
#text {
  position: absolute;
  top: 318px;
  left: 336px;
  visibility: visible;
  margin-top: 10px;
  width: 400px; }

/* line 31, ../sass/_layout.scss */
#title {
  position: absolute;
  top: 100px;
  visibility: visible;
  width: 800px; }

/* line 43, ../sass/_layout.scss */
body {
  background-image: url("../images/gradient.png");
  margin: 0;
  padding: 0; }

/* line 50, ../sass/_layout.scss */
.note, .important, .success {
  border: solid 1px #ccc;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee; }

/* line 51, ../sass/_layout.scss */
.important, .success {
  background-color: #f00; }

/* line 52, ../sass/_layout.scss */
.success {
  background-color: #00f; }

/* Sass */
/* line 7, ../sass/_typo.scss */
h1 {
  margin-top: 4px;
  color: red;
  font-weight: 500;
  font-size: 20px;
  font-family: Bitter, Georgia, serif;
  line-height: 32px; }

/* line 16, ../sass/_typo.scss */
h2 {
  margin: 0.83em 0 0;
  font-weight: normal;
  font-size: 18px;
  color: green;
  font-family: Bitter, Georgia, serif; }

/* line 24, ../sass/_typo.scss */
h3 {
  width: auto;
  color: green;
  text-align: center;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 60px;
  font-family: Bitter, Georgia, serif; }

/* line 34, ../sass/_typo.scss */
h4 {
  margin: 1.33em 0;
  text-align: center;
  font-weight: bold; }

/* line 40, ../sass/_typo.scss */
p {
  color: #cc0000;
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: Bitter, Georgia, serif; }

/* line 48, ../sass/_typo.scss */
a {
  color: #666;
  text-decoration: underline; }
